.left{width:690px;}
.right{width:309px;}
.changePic{width:340px;}
.news{width:340px;color:#333;margin-left:10px;}
.news a,.first-news a,.public-right a,.noticeline,.demand a,.notice-head a,.management-head a{text-decoration:none;color:#333;letter-spacing:1px;}
.newsline{border-bottom:1px dashed #cdcdcd;width:310px;padding-left:10px;line-height:28px;}
.nounline{border:none;}
.management table tr td a{font-size:13px;color:#448bcb;}
.first-news a{}
h4{letter-spacing:2px;}
.firstnews {background: url('../images/xkj.png') no-repeat -273px -16px ;  width:230px;background-position:left-center;height:32px;padding-left:10px;}
.normalnews{ }


.scroll-news{line-height:32px;height:58px;}
.scroll-news ul {display:inline-block;margin-top:23px}
.sbg{display:inline-block; width: 78px;border-bottom:3px solid #448bc9;text-align:center;line-height:30px;}

.demand{margin-top:20px}
.zbg{ width: 125px;border-bottom:3px solid #448bc9;line-height:30px;padding-left:10px;}
.icon{background: url('../images/bg.png') no-repeat 0 0; width: 111px; height: 61px;display:inline-block;}
.icono{background: url('../images/bg.png') no-repeat -117px 0; width: 111px; height: 61px;display:inline-block;}
.icont{background: url('../images/bg.png') no-repeat -233px 0; width: 88px; height: 61px;display:inline-block;}
.iconth{background: url('../images/bg.png') no-repeat 0 -71px; width: 111px; height: 61px;display:inline-block;}
.iconf{background: url('../images/bg.png') no-repeat -117px -71px; width: 100px; height: 61px;display:inline-block;}
.iconfi{background: url('../images/bg.png') no-repeat -233px -72px; width: 112px; height: 61px;display:inline-block;}
.icons{background: url('../images/bg.png') no-repeat 0 -143px; width: 100px; height: 61px;display:inline-block;}
.iconse{background: url('../images/bg.png') no-repeat -117px -143px; width: 100px; height: 61px;display:inline-block;}
.icone{background: url('../images/bg.png') no-repeat -233px -144px; width: 88px; height: 61px;display:inline-block;}


.t1{width:185px;height:71px;text-align:right;line-height:81px;}
.t1 a{line-height:61px;text-align:right;}
.tr2{width:180px;height:71px;text-align:right;}
.tr2 a{width:69px;text-align:left;margin-top:10px;}
.tr3{width:185px;height:71px;text-align:right;}
.tr3 a{width:85px;text-align:right;margin-top:10px;}
.th1,.th2,.th3{width:185px;}
.th1 a{line-height:61px;text-align:right;width:68px;}
.th2 a{text-align:right;margin-top:10px;width:85px;}
.th3 a{text-align:right;margin-top:10px;width:85px;}
.td1,.td2,.td3{line-height:61px;}
.td1 a{width:102px;}
.td2 a{width:68px;}
.td3 a{width:102px;}
.demand a{display:inline-block;}
.demand table tr{margin-top:10px}

.public{margin-top:15px;}
.public-left span{width:135px;height:32px;text-align:center;line-height:32px;background:#ecf3fb;color:#4785d0}
.public-right{margin-left:13px;width:510px;}
.public-line{height:28px;line-height:28px;border-bottom:1px dashed #cdcdcd; }
.spot{background: url('../images/xkj.png') no-repeat -218px -48px;width: 4px;height: 4px;line-height:32px;margin-top:12px;margin-left:5px;}

.notice{line-height:30px;}
.dot{background: url('../images/xkj.png') no-repeat -218px -39px;width: 4px;height: 4px;line-height:30px;margin-top:14px;}
.vbar{width:20px;border-left:3px solid #448BC9;padding-left:10px;height:79px;}
.tdot{background: url('../images/xkj.png') no-repeat -218px -9px;width: 8px;height: 12px;margin-top:8px;margin-left:10px;}

.management{margin-top:25px;}
.management-head{width:309px;border-bottom:3px solid #448BC9;line-height:30px;}
.so{background: url('../images/yuan.png') no-repeat -152px -4px;width: 62px;height: 62px;display:block;margin:0 auto;text-align:center;}
.ds{background: url('../images/yuan.png') no-repeat -226px -4px;width: 62px;height: 62px;display:block;margin:0 auto;text-align:center;}
.so:hover{background: url('../images/yuan.png') no-repeat -4px -4px;width: 62px;height: 62px;color:#f89e1a;}
.ds:hover{background: url('../images/yuan.png') no-repeat -78px -4px;width: 62px;height: 62px;color:#f89e1a;}
.management table tr td{width:76px;height:76px;}

.weibo{color:#448BCB;margin-top:25px;}
.bracket{background: url('../images/xkj.png') no-repeat -52px -80px;width: 15px;height: 12px;}
.bracket-one{width:188px;border-bottom:3px solid #448BC9;height:34px;}
.aweibo{background:url('../images/weibo.png') no-repeat;width:63px;height:22px;line-height:22px;display:block;color:#fff;text-align:center;margin-top:5px;}
.red-big{color:#C80405;font-size:22px;}

.tel,.email,.board{width:310px;height:45px;line-height:45px;background:#ECF3FB;text-align:center;}
.email,.board{margin-top:15px;}
.ocolor{color:#f89e1a;}
.tellogo{background: url('../images/xkj.png') no-repeat -1px -6px;width: 36px;height: 37px;vertical-align:middle;}
.emaillogo{background: url('../images/xkj.png') no-repeat 0 -47px; width: 43px; height: 26px;vertical-align:middle;}
.boardlogo{background: url('../images/xkj.png') no-repeat -1px -75px;width: 42px;height: 26px;vertical-align:middle;}
.email a,.board a{color:#448BCB;}

.link{width:1000px;border-bottom:3px solid #448BC9;line-height:30px;padding-left:10px;margin-top:10px}
.content-foot select{width:150px;height:20px;text-align:center;margin-top:14px;}

.nounline{border:none;}

.col_kx { overflow: hidden; width: 665px; margin-top:30px;}