#content{margin-top:25px;*margin-top:100px;}
.content-left{width:200px;background:#ECF3FB;height:490px;}
.content-left a{color:#333;}
.content-left .cont-left-title{text-align:center;font-size:22px;width:200px;line-height:62px;color:#4785d0}
.content-left div{color:#333;}
.bdot{background: url('../images/xkj.png') no-repeat -231px -9px; width: 8px; height: 12px;margin-left:20px;padding-right:10px;}

.content-right{width:770px;margin-left:30px;}
.content-right a{color:#333;font-size:14px;}
.content-right-top{line-height:32px;}

.bnews-head{margin-top:10px;}
.newsline{line-height:28px;border-bottom:1px dashed #cdcdcd;height:28px;font-size:14px;}
.sbg{display:inline-block; width: 78px;border-bottom:3px solid #448bc9;text-align:center;line-height:30px;}
